{{ with .Site.GetPage "/education" }}
	<h1 class="section-header" id="education">{{.Title}}</h1>
	<div class="section">
		<ul>
            {{ range (.Paginate (.Pages.ByParam "rank")).Pages }}
				<li style="list-style-type: none;">
					<a><strong class="bigger">{{.Params.Institution}}</strong></a>
					{{ if .Params.Degree }}
						<p class="text-muted">{{.Params.Degree}} acheived {{.Params.When}}</p>
					{{ end }}
					{{ if .Params.Certlink }}
						<a href="{{.Params.Certlink}}">Certificate Link</a>
					{{ end }}
					{{ if .Params.Certid }}
						<p class="text-muted">Certificate id: {{.Params.Certid}}</p>
					{{ end }}
				</li>
			{{ end }}
		</ul>
	</div>
{{ end }}

