{{ with .Site.GetPage "/experience"}}
    <h1 class="section-header" id="experience">{{.Title}}</h1>
    <div class="section">
        <ul class="timeline">
            {{ range (.Paginate (.Pages.ByParam "rank")).Pages }}
                <li>
                    <a>
                        <strong class="bigger">{{.Title}}</strong> 
                        <em class="text-muted">@</em> 
                        <a class="bigger">{{.Params.Company}}</a>
                    </a>
                    <p class="badge badge-dark float-right media-float">{{.Params.When}}</p>
                    <p>{{.Content}}</p>
                </li>
            {{ end }}
        </ul>
    </div>
{{ end }}
