<head>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" type="image/png" href="{{ .Site.BaseURL }}/images/favicon.png">
	<title>{{.Site.Params.Title}}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta property="og:title" content="{{ .Site.Params.Title }}">
    <meta property="og:description" content="{{ .Site.Params.description }}">
    <meta property="og:site_name" content="{{ .Site.Params.name }}">
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/images/ogbanner.jpg">
</head>
