{{ with .Site.GetPage "/projects" }}
    <h1 class="section-header" id="projects">{{.Title}}</h1>
	{{ if .Page.Params.Subtitle }}
		<p>
		{{.Page.Params.Subtitle}}
		{{ if .Page.Params.Gitpage }}
			<a href="{{.Page.Params.Gitpage}}">
				<i class="fab fa-gitlab"></i>
			</a>
		{{ end }}
		</p>
	{{ end }}
    <div class="section">
        {{ range .Pages }}
            <div class="card">
                <a href="{{.Params.Link}}"><h1 class="card-title title-link">{{.Title}}</h1></a>
                <h6 class="card-subtitle mb-2 text-muted">{{.Params.Slogan}}</h6>
                <a href="{{.Params.Link}}" class="card-img"><img src="{{.Params.Img}}" class="card-img"></a>
                <div class="card-body"> {{.Content}} </div>
            </div>
        {{ end }}
    </div>
{{ end }}
