{{ if .Site.Params.Gitlab }}
<a class="socials" href="{{.Site.Params.Gitlab}}">
	<i class="fab fa-gitlab"></i>
</a>
{{ end }}
{{ if .Site.Params.Linkedin }}
<a class="socials" href="{{.Site.Params.Linkedin}}">
	<i class="fab fa-linkedin-in"></i>
</a>
{{ end }}
{{ if .Site.Params.Twitch }}
<a class="socials" href="{{.Site.Params.Twitch}}">
	<i class="fab fa-twitch"></i>
</a>
{{ end }}
{{ if .Site.Params.Mastodon }}
<a class="socials" href="{{.Site.Params.Mastodon}}">
	<i class="fab fa-mastodon"></i>
</a>
{{ end }}

