<!DOCTYPE html>
<html lang="en-us">
{{ partial "head.html" . }}
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
	<a href="#" class="navbar-brand"><img src="/images/favicon.png" width="30", height="30" class="d-inline-block align-top" alt="">
		<strong>Sections</strong>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
            {{ range (.Paginate (.Pages.ByParam "rank")).Pages }}
			<li class="nav-item">
				<a class="nav-link" href="#{{trim .RelPermalink "/"}}">
					{{.Title}}
				</a>
			</li>
			{{ end }}
		</ul>
	</div>
</nav>
<div class="banner-container">
    <div class="fade-in-image">
        <img class="fluid" src="/images/banner.jpg">
    </div>
	<div class="headline">
		<h1 class="headline-title reveal-text">{{.Site.Title}}</h1>
		<p class="one-liner reveal-text">{{.Site.Params.Description}}</p>
		{{ partial "socials.html" . }}
	</div>
</div>

<div class="container">
    {{- partial "experience.html" . -}}
    {{- partial "projects.html" . -}}
	{{- partial "education.html" . -}}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
